<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <form method="post" action="/listings">
        <input type="text" name="listing[title]" placeholder="Enter Title">
        <br>
        <textarea name="listing[description]" placeholder="enter description"></textarea>
        <br>
        <input type="text" name="listing[image]" placeholder="Enter URL/LINK">
        <br>
        <input type="number" name="listing[price]" placeholder="Enter Price">
        <br>
        <input type="text" name="listing[location]" placeholder="Enter Location">
        <br>
        <input type="text" name="listing[country]" placeholder="Enter Country Name">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>